/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .layout {
  display: flex;
  flex-direction: column;
 }

 .content {
  flex: 1;
  display: flex;
  background-image: url(/static/img/太空人2.gif);
  background-repeat:no-repeat;
  background-size:100% 100%;
  align-items: center;
  justify-content: center;
  background-color: #303846;
 }

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
