article {
  ~ article {
    border-top: 1px dashed #ccc;
  }
  > section {
    background: #eee;
  }
  dl > {
    dt {
      color: #333;
    }
    dd {
      color: #555;
    }
  }
  nav + & {
    margin-top: 0;
  }
}

@mixin link-colors($normal, $hover: $normal, $visited: $normal) {
  color: $normal;
  &:hover {
    color: $hover;
  }
  &:visited {
    color: $visited;
  }
}

.c {
  @include link-colors(red);
}

.btn {
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}
